.app-box {
  max-width: 600px;
  margin: 20px auto;
}
.showWeather {
  margin: 0px auto;
  border-radius: 10px;
  border: 1px solid rgba(151, 150, 150, 0.623);
  padding: 10px;
}
li {
  list-style: none;
}
#city-name {
  font-size: 65px;
  letter-spacing: 4px;
  margin-bottom: 0px;
}
#city-temperature {
  font-size: 45px;
  padding-left: 40px;
}
span {
  position: relative;
  top: -20px;
}
img {
  margin: 20px auto;
  display: block;
}
a {
  text-decoration: none;
}
#description::first-letter {
  text-transform: capitalize;
}
.active {
  color: black;
  cursor: default;
}
.active:hover {
  color: black;
}
#forecast {
  text-align: center;
  margin-top: 35px;
  border-top: 1px solid rgba(175, 175, 175, 0.229);
  padding-top: 20px;
}
.forecast-col {
  margin-top: 10px;
}
.forecast-weather {
  margin: 20px auto 5px;
}
img.forecast-icon {
  margin: 0px auto;
  display: block;
  max-width: 50px;
}
